
<header class="Header">
  <a routerLink="/">
    <img src="https://music.youtube.com/img/on_platform_logo_dark.svg" alt="Youtube Music logo">
  </a>
  <nav>
    <ul>
      <a>
        <li>Inicio</li>
      </a>
      <a>
        <li>Explorar</li>
      </a>
      <a>
        <li>Biblioteca</li>
      </a>
      <a (toggleActiveInput)="onToggleInput()">
        <div class="search">
          <mat-icon class="search-icon">search</mat-icon>
          <span>Pesquisar</span>
        </div>
        <app-search-input (toggleActiveInput)="onToggleInput()" [activeInput]="activeInput"></app-search-input>
      </a>
    </ul>
  </nav>
  <div class="options">
    <mat-icon class="share">cast</mat-icon>
    <img class="avatar-img" src="https://yt3.ggpht.com/yti/APfAmoF5T9Dz5Vy5GKaQXuEsXRlBJJ_6Q9E_y0xZcOhH7Q=s108-c-k-c0x00ffffff-no-rj" alt="Avatar image">
  </div>
</header>
