
<header class="Header">
  <img src="https://music.youtube.com/img/on_platform_logo_dark.svg" alt="Youtube Music logo">
  <nav>
    <ul>
      <a href="#">
        <li>Inicio</li>
      </a>
      <a href="#">
        <li>Explorar</li>
      </a>
      <a href="#">
        <li>Biblioteca</li>
      </a>
      <a href="#">
        <div class="search">
          <mat-icon class="search-icon">search</mat-icon>
          <span>Pesquisar</span>
        </div>
      </a>
    </ul>
  </nav>
  <div class="options">
    <mat-icon class="share">cast</mat-icon>
    <img class="avatar-img" src="https://yt3.ggpht.com/yti/APfAmoF5T9Dz5Vy5GKaQXuEsXRlBJJ_6Q9E_y0xZcOhH7Q=s108-c-k-c0x00ffffff-no-rj" alt="Avatar image">
  </div>
</header>
