.search-input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px #333333;
  padding: 5px 30px 5px 20px;
  background-color: #212121;
  width: 100%;
  border-radius: 5px;
  align-items: center;


  input {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;

    &::placeholder {
      font-weight: 600;
      font-size: 18px;
    }
  }

  .search-icon {
    color: #909090;
  }
}

.flex {
  display: flex !important;
}