
<div class="Single">
  <section class="Banner">
    <div class="banner-img" [style.background-image]="'url(https://lh3.googleusercontent.com/0NREXPQeXWOYPqneYeWFQo71_dsmgQJaNQnk3B0W2G8eHLb86GRj13JTlTKmkCnhr5C6u5n2_jmjFuCl=w2880-h1200-p-l90-rj)'">
    </div>
    <div class="container">
      <div class="description">
        <h1>James Young</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corrupti rem, provident impedit nesciunt itaque mollitia similique eveniet optio nihil repellendus fuga architecto tempore recusandae voluptatibus aut quasi eos suscipit!</p>
      </div>
      <div class="actions">
        <button class="primary">
          <mat-icon class="share">shuffle</mat-icon>
          <span>Random</span>
        </button>
        <button class="primary">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope yt-icon"><path d="M16.94 6.9l-1.4 1.46C16.44 9.3 17 10.58 17 12s-.58 2.7-1.48 3.64l1.4 1.45C18.22 15.74 19 13.94 19 12s-.8-3.8-2.06-5.1zM23 12c0-3.12-1.23-5.95-3.23-8l-1.4 1.45C19.97 7.13 21 9.45 21 12s-1 4.9-2.64 6.55l1.4 1.45c2-2.04 3.24-4.87 3.24-8zM7.06 17.1l1.4-1.46C7.56 14.7 7 13.42 7 12s.6-2.7 1.5-3.64L7.08 6.9C5.78 8.2 5 10 5 12s.8 3.8 2.06 5.1zM1 12c0 3.12 1.23 5.95 3.23 8l1.4-1.45C4.03 16.87 3 14.55 3 12s1-4.9 2.64-6.55L4.24 4C2.24 6.04 1 8.87 1 12zm9-3.32v6.63l5-3.3-5-3.3z" class="style-scope yt-icon"></path></g></svg>
          <span>Radio</span>
        </button>
        <button class="alert">
          <span>Inscrever-se {{ '7.95 MIL'}}</span>
        </button>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="songs">
      <h4>Songs</h4>

      <div class="song">
        <div class="Row">

          <div class="col _col-4">
            <div class="song-item">
              <div class="song-img"  [style.background-image]="'url(https://i.scdn.co/image/ab67616d0000b27378d73605d79db68329041688)'">
              </div>
              <span>Moondust</span>
            </div>
          </div>

          <div class="col _col-4">
            <div class="song-artist">
              <span class="explicit">E</span>
              <p>James Young</p>
            </div>
          </div>

          <div class="col _col-4">
            <div class="artist-name">
              <p>Feel Something</p>
            </div>
          </div>
        </div>
      </div>

      <div class="song">
        <div class="Row">

          <div class="col _col-4">
            <div class="song-item">
              <div class="song-img"  [style.background-image]="'url(https://i.scdn.co/image/ab67616d0000b27378d73605d79db68329041688)'">
              </div>
              <span>Moondust</span>
            </div>
          </div>

          <div class="col _col-4">
            <div class="song-artist">
              <span class="explicit">E</span>
              <p>James Young</p>
            </div>
          </div>

          <div class="col _col-4">
            <div class="artist-name">
              <p>Feel Something</p>
            </div>
          </div>
        </div>
      </div>

      <div class="song">
        <div class="Row">

          <div class="col _col-4">
            <div class="song-item">
              <div class="song-img"  [style.background-image]="'url(https://i.scdn.co/image/ab67616d0000b27378d73605d79db68329041688)'">
              </div>
              <span>Moondust</span>
            </div>
          </div>

          <div class="col _col-4">
            <div class="song-artist">
              <span class="explicit">E</span>
              <p>James Young</p>
            </div>
          </div>

          <div class="col _col-4">
            <div class="artist-name">
              <p>Feel Something</p>
            </div>
          </div>
        </div>
      </div>

      <div class="song">
        <div class="Row">

          <div class="col _col-4">
            <div class="song-item">
              <div class="song-img"  [style.background-image]="'url(https://i.scdn.co/image/ab67616d0000b27378d73605d79db68329041688)'">
              </div>
              <span>Moondust</span>
            </div>
          </div>

          <div class="col _col-4">
            <div class="song-artist">
              <span class="explicit">E</span>
              <p>James Young</p>
            </div>
          </div>

          <div class="col _col-4">
            <div class="artist-name">
              <p>Feel Something</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Albumns</h4>

    <div class="Row _no-wrap">
      <album [data]="data"></album>
      <album [data]="data"></album>
      <album [data]="data"></album>
      <album [data]="data"></album>
      <album [data]="data"></album>
      <album [data]="data"></album>
      <album [data]="data"></album>
      <album [data]="data"></album>
    </div>

  </div>
</div>