.Track {
  margin-right: 15px;
  height: 300px;

  .image {
    width: 226px;
    height: 226px;
    border-radius: 4px;

    .background-img {
      width: 226px;
      height: 226px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 4px;
    }
  }

  .content {
    padding: 8px 0 0 0;

    h6 {
      margin: 10px 0 5px 0;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .types {
      span {
        color: #aaa;

        &.artist-label {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          } 
        }
      }
    }
  }
}